/* *************************************** */
/* *************** Footer **************** */
/* *************************************** */


footer {
    /* Parametre de la boite invisible */
    max-width: 480px;
    min-width: 100%;
    height: 196px;

    color: white;
    background-color: $footer-color;
    border: 1px solid $footer-color;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet;


    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc;


    .footer-title {
        /* Parametre du h2 */
        margin-left: 6%;
        margin-top: 4%;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            margin-top: 2%;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            margin-top: 2%;
        }
    }

    .link-list {
        /* Parametre de la boite pour les li */
        height: 96px;
        margin-top: 4%;
        margin-left: 6%;

        @include flex-direction-column-justify-space-between;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            margin-top: 1%;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            margin-top: 2%;
        }


        .link-list--margin-1 {
            /* Parametre de la marge pour le premier li */
            margin-left: 2%;

            display: inline-block;

            /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
            @include tablet {
                margin-left: 1.6%;
            }

            /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
            @include pc {
                margin-left: 0.7%;
            }

        }

        .link-list--margin-2 {
            /* Parametre de la marge pour le second li */
            margin-left: 0.2%;

            display: inline-block;
        }

        a {
            /* Parametre du lien */
            color: white;
            text-decoration: none;
        }
    }
}