// ***************************************
// ********* HEADER index.html ***********
// ***************************************


.invisible-box-header {
    //Parametre de la boite invisible

    //Width:
    @include max-min-width($mobile);

    // Flexbox:
    @include flex-direction-column-align-items-center;

    // Media Queries:
    @include mobile-landscape-tablet {
        @include max-min-width($mobile-landscape-tablet);
    }

    @include tablet-landscape {
        @include max-min-width($tablet-landscape);
    }

    @include pc {
        @include max-min-width($pc);
    }

    @include pc-xl {
        min-width: $full;
    }

    .title {
        // Parametre du titre

        //Width:
        @include max-min-width-full;

        height: 63px;
        margin-top: 0%;

        // Flexbox:
        @include flex-align-item-center-justify-content-center;

        // Media Queries:
        @include mobile-landscape-tablet {
            //Parametre de la boite invisible
            @include max-min-width-full;
        }

        @include tablet-landscape {
            @include max-min-width-full;
        }

        @include pc {
            @include max-min-width-full;
        }

        @include pc-xl {
            @include max-min-width-full;
        }
    }

    .location {
        // Parametre du lieu

        //Width:
        @include max-min-width-full;

        height: 51px;

        //Flexbox:
        @include flex-align-item-center-justify-content-center;

        background-color: $location-color;
        box-shadow: inset 0px 2px 2px #c9c8c8;

        // Media Queries:
        @include mobile-landscape-tablet {
            @include max-min-width($mobile-landscape-tablet);
        }

        @include tablet-landscape {
            @include max-min-width($tablet-landscape);
        }

        @include pc {
            @include max-min-width($pc);
        }

        @include pc-xl {
            @include max-min-width($pc-xl);
        }

        .location__icon {
            // Parametre de l'icone du lieu

            width: 3%;
            height: 47px;

            //Flexbox:
            @include flex-align-item-center-justify-content-center;

            // Media Queries:
            @include mobile-landscape-tablet {
                max-width: $mobile-landscape-tablet;
            }

            @include tablet-landscape {
                max-width: $tablet-landscape;
            }

            @include pc {
                max-width: $pc;
            }

            @include pc-xl {
                max-width: $pc-xl;
            }
        }

        .location__text {
            // Parametre du texte du lieu

            width: 37%;
            height: 47px;

            background-color: $location-color;
            text-align: center;
            border: none;

            //Flexbox:
            @include flex-align-item-center-justify-content-space-around;

            font-size: 18px;

            // Media Queries:
            @include mobile-landscape-tablet {
                width: 28%;
            }

            @include tablet-landscape {
                width: 20%;
            }

            @include pc {
                width: 13%;
            }

            @include pc-xl {
                width: 9%;
            }
        }

        .location__text:focus {
            outline-style: none;
        }
    }
}