/* *************************************** */
/* ********* Header index.html *********** */
/* *************************************** */


.invisible-box-header {
    /* Parametre de la boite invisible */
    max-width: 480px;
    min-width: 100%;
    height: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet;

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc;

    .title {
        /* Parametre du titre */
        max-width: 480px;
        min-width: 100%;
        height: 62px;
        margin-top: 0%;

        @include flex-align-item-justify-content;

        box-shadow: 0px 8px 32px #c9c8c8;
    }

    .location {
        /* Parametre du lieu */
        width: 100%;
        height: 45px;

        @include flex-align-item-justify-content;

        background-color: #eaeaea;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            width: 959px;
        }

        .location__icon {
            /* Parametre de l'icone du lieu */
            width: 3%;
            height: 47px;

            @include flex-align-item-justify-content;
        }

        .location__text {
            /* Parametre du texte du lieu */
            width: 37%;
            height: 47px;

            display: flex;
            align-items: center;
            justify-content: space-around;

            font-size: 18px;

            /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
            @include tablet {
                width: 13%;
                justify-content: center;
            }

            /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
            @include pc {
                width: 13%;
            }

        }
    }
}


/* *************************************** */
/* ********** Header menu.scss *********** */
/* *************************************** */


.menu-a-invisible-box-header {
    /* Parametre de la boite invisible */
    max-width: $mobile;
    height: 63px;

    @include flex-align-item-justify-content;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet;

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc;

    .menu-a-title {
        /* Parametre de la boite pour le titre et l'icone fléche */
        display: flex;

        a {
            /* Parametre de l'icone return */
            position: relative;
            top: 16px;
            right: 32%;

            color: black;
        }
    }
}