// ***************************************
// ******** SECTION 3 index.html *********
// ***************************************


.invisible-box-section-3 {
    // Parametre de la boite invisible

    //Width:
    @include max-min-width($mobile);

    margin-top: 0%;

    //Flexbox:
    @include flex-direction-column-align-items-flex-start;

    background-color: $menu-color;

    // Media Queries:
    @include mobile-landscape-tablet {
        @include max-min-width($mobile-landscape-tablet);
    }

    @include tablet-landscape {
        @include max-min-width($tablet-landscape);
    }

    @include pc {
        @include max-min-width($pc);
    }

    @include pc-xl {
        min-width: $full;
    }

    h2 {
        // Parametre du h2
        margin-top: 14.5%;
        margin-left: 5%;

        // Media Queries:
        @include mobile-landscape-tablet {
            @include max-min-width($mobile-landscape-tablet);
            margin-top: 8%
        }

        @include tablet-landscape {
            @include max-min-width($tablet-landscape);
            margin-top: 5%
        }

        @include pc {
            @include max-min-width($pc);
            margin-top: 5%;
            margin-left: 20%;
        }

        @include pc-xl {
            min-width: $full;
            margin-top: 5%;
            margin-left: 25%;
        }
    }
}

.box-card {
    // Parametre de la boite pour les cartes
    max-width: 480px;
    height: 1062px;
    margin: $margin-center;
    margin-top: 6%;
    margin-bottom: 17%;

    //Flexbox:
    @include flex-direction-column-justify-space-between;
    align-items: center;

    // Media Queries:
    @include mobile-landscape-tablet {
        @include max-min-width($mobile-landscape-tablet);
        margin-bottom: 10%;
    }

    @include tablet-landscape {
        @include max-min-width($tablet-landscape);
        margin-bottom: 5%;
    }

    @include pc {
        @include max-min-width($pc);
        margin-bottom: 5%;
    }

    @include pc-xl {
        min-width: $full;
        margin-bottom: 3%;
    }

    .card {
        // Parametre de carte voir card.scss
        @include card
    }


    .heart {

        position: relative;
        top: 0%;

        font-size: 50px;

        color: black;
        pointer-events: fill;
    }

    .heart:hover {
        font-weight: 900;
        @include heart;
    }
}