@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, "Arial", "Verdana", "sans-serif";
}

h1,
.restaurant__name,
.footer-title {
  font-family: "Shrikhand", cursive, "Arial", "Verdana", "sans-serif";
}

.link-list {
  list-style: none;
}

.invisible-box-header {
  max-width: 480px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-header {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-header {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-header {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-header {
    min-width: 100%;
  }
}
.invisible-box-header .title {
  max-width: 100%;
  min-width: 100%;
  height: 63px;
  margin-top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-header .title {
    max-width: 100%;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-header .title {
    max-width: 100%;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-header .title {
    max-width: 100%;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-header .title {
    max-width: 100%;
    min-width: 100%;
  }
}
.invisible-box-header .location {
  max-width: 100%;
  min-width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 2px #c9c8c8;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-header .location {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-header .location {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-header .location {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-header .location {
    max-width: 1600px;
    min-width: 100%;
  }
}
.invisible-box-header .location .location__icon {
  width: 3%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-header .location .location__icon {
    max-width: 768px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-header .location .location__icon {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-header .location .location__icon {
    max-width: 1600px;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-header .location .location__icon {
    max-width: 1600px;
  }
}
.invisible-box-header .location .location__text {
  width: 37%;
  height: 47px;
  background-color: #eaeaea;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-header .location .location__text {
    width: 28%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-header .location .location__text {
    width: 20%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-header .location .location__text {
    width: 13%;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-header .location .location__text {
    width: 9%;
  }
}
.invisible-box-header .location .location__text:focus {
  outline-style: none;
}

.menu-invisible-box-header {
  max-width: 480px;
  min-width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu-invisible-box-header {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-invisible-box-header {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .menu-invisible-box-header {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .menu-invisible-box-header {
    min-width: 100%;
  }
}
.menu-invisible-box-header .menu-title {
  display: flex;
}
.menu-invisible-box-header .menu-title a {
  position: relative;
  top: 16px;
  right: 32%;
  color: black;
}

body {
  max-width: 480px;
  min-width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  body {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  body {
    min-width: 100%;
  }
}

.wrapper {
  animation-name: anim-load;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes anim-load {
  0% {
    background: #99e2d0;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.spinner {
  width: 65px;
  height: 70px;
  margin: 0 auto;
  position: absolute;
  top: 54%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid transparent;
  border-top: 10px solid #ff79da;
  border-bottom: 10px solid #9356dc;
  border-radius: 50%;
  animation-name: anim-spinner;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  animation-fill-mode: both;
}
@keyframes anim-spinner {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
  100% {
    visibility: hidden;
  }
}
.spinner > i {
  font-size: 32px;
  font-weight: bold;
}

.index {
  max-width: 480px;
  min-width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .index {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .index {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .index {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .index {
    min-width: 100%;
  }
}

.menu {
  max-width: 480px;
  min-width: 100%;
  background-color: #f6f6f6;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .menu {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .menu {
    min-width: 100%;
  }
}

.main__picture {
  max-width: 480px;
  min-width: 100%;
  height: 220px;
}
.main__picture img {
  max-width: 480px;
  min-width: 100%;
  height: 275px;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .main__picture img {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main__picture img {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .main__picture img {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .main__picture img {
    min-width: 100%;
  }
}

.section-1__invisible-box {
  max-width: 480px;
  min-width: 100%;
  height: 288px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .section-1__invisible-box {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section-1__invisible-box {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .section-1__invisible-box {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .section-1__invisible-box {
    min-width: 100%;
  }
}
.section-1__invisible-box h2 {
  max-width: 235px;
  margin-top: 10.5%;
  text-align: center;
  font-weight: 900;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .section-1__invisible-box h2 {
    max-width: 768px;
    min-width: 100%;
    margin-top: 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section-1__invisible-box h2 {
    max-width: 1024px;
    min-width: 100%;
    margin-top: 5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .section-1__invisible-box h2 {
    max-width: 1600px;
    min-width: 100%;
    margin-top: 5%;
  }
}
@media only screen and (min-width: 1600px) {
  .section-1__invisible-box h2 {
    min-width: 100%;
    margin-top: 3%;
  }
}
.section-1__invisible-box p {
  max-width: 300px;
  margin-bottom: 4%;
  text-align: center;
  font-weight: 300;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .section-1__invisible-box p {
    max-width: 768px;
    min-width: 100%;
    margin-bottom: 2.5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section-1__invisible-box p {
    max-width: 1024px;
    min-width: 100%;
    margin-bottom: 2.5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .section-1__invisible-box p {
    max-width: 1600px;
    min-width: 100%;
    margin-bottom: 2.5%;
  }
}
@media only screen and (min-width: 1600px) {
  .section-1__invisible-box p {
    min-width: 100%;
    margin-bottom: 2.5%;
  }
}
.section-1__invisible-box .section1__button {
  width: 218px;
  height: 50px;
  margin-bottom: 15.5%;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(176deg, #ff79da 3%, #9356dc 120%);
  border: none;
  border-radius: 35px;
  box-shadow: 0px 3px 5px #c3c3c4;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .section-1__invisible-box .section1__button {
    width: 218px;
    height: 50px;
    margin-bottom: 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section-1__invisible-box .section1__button {
    width: 218px;
    height: 50px;
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .section-1__invisible-box .section1__button {
    width: 218px;
    height: 50px;
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 1600px) {
  .section-1__invisible-box .section1__button {
    width: 218px;
    height: 50px;
    margin-bottom: 5%;
  }
}
.section-1__invisible-box .section1__button:hover {
  opacity: 0.8;
  box-shadow: 0px 10px 10px #c3c3c4;
}
.section-1__invisible-box a {
  text-decoration: none;
  color: white;
}

.menu-section-1__invisible-box {
  max-width: 480px;
  min-width: 100%;
  height: 80px;
  position: relative;
  z-index: 2;
  border-radius: 35px 35px 0px 0px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-section-1__invisible-box .restaurant__box {
  width: 338px;
  display: flex;
  justify-content: space-between;
}
.menu-section-1__invisible-box h2 {
  margin-top: 8%;
}
.menu-section-1__invisible-box .restaurant__icon {
  height: 29px;
  margin-top: 8.5%;
  margin-right: 7.5%;
  display: flex;
  align-items: center;
}
.menu-section-1__invisible-box .restaurant__icon .heart:hover {
  font-weight: 900;
  animation-name: anim-heart;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes anim-heart {
  0% {
    color: transparent;
  }
  100% {
    color: #ff79da;
  }
}

.invisible-box-section-2 {
  max-width: 480px;
  min-width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-section-2 {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-section-2 {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-section-2 {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-section-2 {
    min-width: 100%;
  }
}
.invisible-box-section-2 > h2 {
  margin-top: 12.5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-section-2 > h2 {
    max-width: 325px;
    margin-top: 5% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-section-2 > h2 {
    max-width: 325px;
    margin-top: 5% !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-section-2 > h2 {
    max-width: 325px;
    margin-top: 5% !important;
    margin-left: 20%;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-section-2 > h2 {
    max-width: 325px;
    margin-top: 2% !important;
    margin-left: 25%;
  }
}
.invisible-box-section-2 .box-button {
  max-width: 325px;
  height: 270px;
  margin: 0 auto;
  margin-top: 31px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-section-2 .box-button {
    max-width: 325px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-section-2 .box-button {
    max-width: 325px;
    margin-top: 0px !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-section-2 .box-button {
    max-width: 325px;
    margin-top: 0px !important;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-section-2 .box-button {
    max-width: 325px;
  }
}

.button {
  width: 325px;
  height: 73px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0px 3px 5px #c3c3c4;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .button {
    width: 325px;
    height: 73px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .button {
    width: 325px;
    height: 73px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .button {
    width: 325px;
    height: 73px;
  }
}
@media only screen and (min-width: 1600px) {
  .button {
    width: 325px;
    height: 73px;
  }
}
.button:hover {
  background-color: #f5edff;
  box-shadow: 0px 10px 10px #c3c3c4;
}
.button i {
  margin-left: 4.6%;
  color: #7e7e7e;
}
.button i:hover {
  color: #9356dc;
}
.button p {
  margin-left: 8%;
  font-weight: 500;
}
.button__number {
  width: 23px;
  height: 23px;
  position: relative;
  right: 10px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  background-color: #9356dc;
}
.button__number p {
  margin: 0 auto;
  color: white;
}

.menu-section-2__invisible-box {
  max-width: 480px;
  min-width: 100%;
  background-color: #f6f6f6;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu-section-2__invisible-box {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-section-2__invisible-box {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .menu-section-2__invisible-box {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .menu-section-2__invisible-box {
    min-width: 100%;
  }
}
.menu-section-2__invisible-box--margin-top {
  margin-top: 11%;
  margin-left: 5%;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu-section-2__invisible-box--margin-top {
    max-width: 768px;
    min-width: 100%;
    margin-top: 3.5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-section-2__invisible-box--margin-top {
    max-width: 1024px;
    min-width: 100%;
    margin-top: 2.5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .menu-section-2__invisible-box--margin-top {
    max-width: 1600px;
    min-width: 100%;
    margin-top: 0%;
  }
}
@media only screen and (min-width: 1600px) {
  .menu-section-2__invisible-box--margin-top {
    min-width: 100%;
    margin-top: 0%;
  }
}
.menu-section-2__invisible-box .starter {
  margin-top: 5.5%;
  margin-left: 5%;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu-section-2__invisible-box .starter {
    max-width: 768px;
    min-width: 100%;
    margin-top: 3.5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-section-2__invisible-box .starter {
    max-width: 1024px;
    min-width: 100%;
    margin-top: 3.5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .menu-section-2__invisible-box .starter {
    max-width: 1600px;
    min-width: 100%;
    margin-top: 2.5%;
    margin-left: 25%;
  }
}
@media only screen and (min-width: 1600px) {
  .menu-section-2__invisible-box .starter {
    min-width: 100%;
    margin-top: 2.5%;
    margin-left: 25%;
  }
}
.menu-section-2__invisible-box h3 {
  font-weight: 400;
  font-size: 14px;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu-section-2__invisible-box h3 {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-section-2__invisible-box h3 {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .menu-section-2__invisible-box h3 {
    max-width: 1600px;
    min-width: 100%;
    margin-left: 25%;
  }
}
@media only screen and (min-width: 1600px) {
  .menu-section-2__invisible-box h3 {
    min-width: 100%;
    margin-left: 25%;
  }
}
.menu-section-2__invisible-box .box_trait {
  width: 9%;
  margin-top: 1%;
  margin-left: 5%;
  border: 1.8px solid #99e2d0;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu-section-2__invisible-box .box_trait {
    width: 4.5%;
    margin-top: 0.3%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-section-2__invisible-box .box_trait {
    width: 3%;
    margin-top: 0.3%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .menu-section-2__invisible-box .box_trait {
    width: 2%;
    margin-top: 0.3%;
    margin-left: 25%;
  }
}
@media only screen and (min-width: 1600px) {
  .menu-section-2__invisible-box .box_trait {
    width: 2%;
    margin-top: 0.3%;
    margin-left: 25%;
  }
}

.card-box {
  width: 100%;
  margin-top: 3%;
}
.card-box .menu__dishe {
  width: 350px;
  min-width: 100%;
  margin-bottom: 1.3%;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.card-box .card__dishe {
  width: 350px;
  height: 69px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 5px #c3c3c4;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.card-box .card__dishe--anim-shift-1 {
  animation-name: anim-shift;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes anim-shift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-box .card__dishe--anim-shift-2 {
  animation-name: anim-shift;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes anim-shift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-box .card__dishe--anim-shift-3 {
  animation-name: anim-shift;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes anim-shift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-box .card__dishe--anim-shift-4 {
  animation-name: anim-shift;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.6s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes anim-shift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-box .card__dishe .name {
  width: 61%;
  height: 100%;
  margin-left: 0%;
  display: flex;
  flex-wrap: wrap;
}
.card-box .card__dishe .name > h3 {
  width: 100%;
  height: 25%;
  margin-top: 5%;
  margin-bottom: 0%;
  margin-left: 4%;
  font-weight: bold;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-box .card__dishe .name > p {
  width: 100%;
  height: 25%;
  margin-bottom: 0.3%;
  margin-top: 0%;
  margin-left: 4%;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-box .card__dishe .price {
  width: 10%;
  height: 100%;
  margin-top: 11%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}
.card-box .card__dishe .anim {
  width: 1%;
  height: 100%;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0%;
  left: 1%;
  transition: all 720ms ease;
}
.card-box .card__dishe .anim i {
  font-size: 20px;
  color: white;
  opacity: 0;
  transform: rotate(20deg);
  transition: all 720ms ease-out;
}
.card-box .card__dishe:hover > .anim {
  height: 100%;
  width: 20%;
  left: 0%;
}
.card-box .card__dishe:hover .name {
  width: 60%;
}
.card-box .card__dishe:hover .name > h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-box .card__dishe:hover .name > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-box .card__dishe:hover > .price {
  width: 10%;
}
.card-box .card__dishe:hover > .anim > i {
  transform: rotate(360deg);
  opacity: 1;
}

.box-button {
  width: 100%;
  margin-top: 11%;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .box-button {
    max-width: 768px;
    min-width: 100%;
    margin-top: 6.2%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box-button {
    max-width: 1024px;
    min-width: 100%;
    margin-top: 4.5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .box-button {
    max-width: 1600px;
    min-width: 100%;
    margin-top: 3%;
  }
}
@media only screen and (min-width: 1600px) {
  .box-button {
    min-width: 100%;
    margin-top: 3%;
  }
}
.box-button .order__button {
  width: 185px;
  height: 50px;
  height: 47px;
  margin-bottom: 16%;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(176deg, #ff79da 3%, #9356dc 120%);
  border: none;
  border-radius: 35px;
  box-shadow: 0px 3px 5px #c3c3c4;
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .box-button .order__button {
    width: 185px;
    height: 50px;
    margin-bottom: 7.6%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box-button .order__button {
    width: 185px;
    height: 50px;
    margin-bottom: 6%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .box-button .order__button {
    width: 185px;
    height: 50px;
    margin-bottom: 3.9%;
  }
}
@media only screen and (min-width: 1600px) {
  .box-button .order__button {
    width: 185px;
    height: 50px;
    margin-bottom: 3.5%;
  }
}
.box-button .order__button:hover {
  opacity: 0.9;
  box-shadow: 0px 10px 10px #c3c3c4;
}
.box-button .order__button a {
  color: white;
  text-decoration: none;
}

.invisible-box-section-3 {
  max-width: 480px;
  min-width: 100%;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f6f6f6;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-section-3 {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-section-3 {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-section-3 {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-section-3 {
    min-width: 100%;
  }
}
.invisible-box-section-3 h2 {
  margin-top: 14.5%;
  margin-left: 5%;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .invisible-box-section-3 h2 {
    max-width: 768px;
    min-width: 100%;
    margin-top: 8%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .invisible-box-section-3 h2 {
    max-width: 1024px;
    min-width: 100%;
    margin-top: 5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .invisible-box-section-3 h2 {
    max-width: 1600px;
    min-width: 100%;
    margin-top: 5%;
    margin-left: 20%;
  }
}
@media only screen and (min-width: 1600px) {
  .invisible-box-section-3 h2 {
    min-width: 100%;
    margin-top: 5%;
    margin-left: 25%;
  }
}

.box-card {
  max-width: 480px;
  height: 1062px;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .box-card {
    max-width: 768px;
    min-width: 100%;
    margin-bottom: 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box-card {
    max-width: 1024px;
    min-width: 100%;
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .box-card {
    max-width: 1600px;
    min-width: 100%;
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 1600px) {
  .box-card {
    min-width: 100%;
    margin-bottom: 3%;
  }
}
.box-card .card {
  width: 335px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #c3c3c4;
}
.box-card .card a {
  width: 335px;
  height: 250px;
  display: block;
  text-decoration: none;
  border-radius: 15px;
}
.box-card .card__picture {
  width: 335px;
  height: 173px;
  border-radius: 15px;
}
.box-card .card__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.box-card .card__label {
  width: 80px;
  height: 29px;
  position: relative;
  bottom: 95%;
  left: 73%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 3px;
}
.box-card .card__box-info {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
}
.box-card .card__info-title {
  width: 60%;
  margin-top: 4.8%;
  margin-left: 14px;
  color: black;
}
.box-card .card__info-title h3 {
  font-weight: 500;
}
.box-card .card__info-title p {
  font-weight: 300;
  margin-top: 3%;
}
.box-card .card__info-icon {
  width: 20%;
  display: flex;
}
.box-card .card__info-icon i {
  margin-top: 22px;
  margin-left: 26%;
  font-size: 26px;
}
.box-card .heart {
  position: relative;
  top: 0%;
  font-size: 50px;
  color: black;
  pointer-events: fill;
}
.box-card .heart:hover {
  font-weight: 900;
  animation-name: anim-heart;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes anim-heart {
  0% {
    color: transparent;
  }
  100% {
    color: #ff79da;
  }
}

footer {
  max-width: 480px;
  min-width: 100%;
  color: white;
  background-color: #353535;
  border: 1px solid #353535;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  footer {
    max-width: 768px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    max-width: 1024px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  footer {
    max-width: 1600px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  footer {
    min-width: 100%;
  }
}
footer .footer-title {
  margin-left: 6%;
  margin-top: 4%;
}
footer .link-list {
  height: 96px;
  margin-top: 4%;
  margin-left: 6%;
  margin-bottom: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  footer .link-list {
    max-width: 768px;
    min-width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer .link-list {
    max-width: 1024px;
    min-width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  footer .link-list {
    max-width: 1600px;
    min-width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 1600px) {
  footer .link-list {
    min-width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
  }
}
footer .link-list .link-list--margin-1 {
  margin-left: 2%;
  display: inline-block;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  footer .link-list .link-list--margin-1 {
    margin-left: 1.2%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer .link-list .link-list--margin-1 {
    margin-left: 1%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  footer .link-list .link-list--margin-1 {
    margin-left: 0.8%;
  }
}
@media only screen and (min-width: 1600px) {
  footer .link-list .link-list--margin-1 {
    margin-left: 0.65%;
  }
}
footer .link-list .link-list--margin-2 {
  margin-left: 0.2%;
  display: inline-block;
}
footer .link-list a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
