@charset "UTF-8";
/*@mixin card-box-size ($restaurant, $restaurant-name: $restaurant-name)
{
    @if ($restaurant!= $restaurant-name)
    {
        .card-box {
        height: 235px;
        }
    }

    @else
    {
        .card-box {
        height: 350px;
        }
    }
}
*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* *************************************** */
/* *************** General *************** */
/* *************************************** */
* {
  /* Retire la marge et le padding par défault */
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, "Arial", "Verdana", "sans-serif";
}

h1,
.restaurant__name,
.footer-title {
  /* Police pour h1 et .footer-tittle */
  font-family: "Shrikhand", cursive, "Arial", "Verdana", "sans-serif";
}

.link-list {
  /* Enleve les puces sur la liste */
  list-style: none;
}

/* *************************************** */
/* **************** Body ***************** */
/* *************************************** */
/* *************************************** */
/* *************** Header **************** */
/* *************************************** */
.invisible-box-header {
  /* Parametre de la boite invisible */
  max-width: 479px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.invisible-box-header .title {
  /* Parametre du titre */
  width: 100%;
  height: 62px;
  margin-top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 32px #c9c8c8;
}
.invisible-box-header .location {
  /* Parametre du lieu */
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}
.invisible-box-header .location .location__icon {
  /* Parametre de l'icone du lieu */
  width: 10%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.invisible-box-header .location .location__text {
  /* Parametre du texte du lieu */
  width: 42%;
  height: 47px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

/* *************************************** */
/* **************** Main ***************** */
/* *************************************** */
.index {
  max-width: 479px;
  height: 1957px;
  border: 1px solid blue;
}

/* *************************************** */
/* ************* Section 1 *************** */
/* *************************************** */
.section-1__invisible-box {
  /* Parametre de la boite invisible */
  max-width: 479px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-1__invisible-box h2 {
  /* Parametre du h2 */
  max-width: 235px;
  margin-top: 9.5%;
  text-align: center;
  font-weight: 900;
}
.section-1__invisible-box p {
  /* Parametre de p */
  max-width: 300px;
  margin-top: 4.3%;
  text-align: center;
  font-weight: 300;
}
.section-1__invisible-box button {
  /* Parametre du boutton voir btn.scss */
  width: 218px;
  height: 50px;
  margin-top: 8.5%;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(176deg, #FF79DA 3%, #9356DC 120%);
  border: none;
  border-radius: 35px;
  box-shadow: 0px 3px 5px #c3c3c4;
}
.section-1__invisible-box a {
  /* Parametre du lien */
  text-decoration: none;
  color: white;
}

/* *************************************** */
/* ************* Section 2 *************** */
/* *************************************** */
.invisible-box-section-2 {
  /* Parametre de la boite invisible */
  max-width: 479px;
  height: 358px;
  margin-top: 12.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.invisible-box-section-2 .box-button {
  /* Parametre de la boite pour les bouttons de fonctionnement */
  max-width: 479px;
  height: 310px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invisible-box-section-2 .button {
  /* Parametre du boutton voir btn.scss */
  width: 325px;
  height: 75px;
  margin-top: 9%;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0px 3px 5px #c3c3c4;
}
.invisible-box-section-2 .button:hover {
  background-color: #f5edff;
}
.invisible-box-section-2 .button i {
  margin-left: 4.6%;
  color: #7e7e7e;
}
.invisible-box-section-2 .button i:hover {
  color: #9356DC;
}
.invisible-box-section-2 .button p {
  margin-left: 8%;
  font-weight: 500;
}
.invisible-box-section-2 .button__number {
  width: 23px;
  height: 23px;
  position: relative;
  right: 10px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  background-color: #9356DC;
}
.invisible-box-section-2 .button__number p {
  margin: 0 auto;
  color: white;
}

/* *************************************** */
/* ************* Section 3 *************** */
/* *************************************** */
.invisible-box-section-3 {
  /* Parametre de la boite invisible */
  max-width: 479px;
  height: 1226px;
  margin-top: 12.5%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.invisible-box-section-3 h2 {
  /* Parametre du h2 */
  margin-top: 14%;
}

.box-card {
  /* Parametre de la boite pour les cartes */
  max-width: 479;
  height: 1062px;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box-card .card {
  /* Parametre de carte voir card.scss */
  width: 335px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #c3c3c4;
}
.box-card .card a {
  width: 335px;
  height: 250px;
  display: block;
  text-decoration: none;
  color: cadetblue;
  border-radius: 15px;
}
.box-card .card__picture {
  width: 335px;
  height: 173px;
  border-radius: 15px;
}
.box-card .card__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.box-card .card__label {
  width: 80px;
  height: 29px;
  position: relative;
  bottom: 95%;
  left: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #008766;
  border-radius: 3px;
  background-color: #99e2d0;
}
.box-card .card__box-info {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
}
.box-card .card__info-title {
  width: 60%;
  margin-top: 4.8%;
  margin-left: 14px;
  color: black;
}
.box-card .card__info-title h3 {
  font-weight: 500;
}
.box-card .card__info-title p {
  font-weight: 300;
  margin-top: 3%;
}
.box-card .card__info-icon {
  width: 20%;
  display: flex;
}
.box-card .card__info-icon i {
  margin-top: 22px;
  margin-left: 26%;
  font-size: 26px;
}
.box-card .card__info-icon i .fas.fa-heart {
  color: coral;
  transition: color 5s ease-in-out;
}
.box-card .card__info-icon i .fas.fa-heart:hover {
  color: coral;
}

/* *************************************** */
/* *************** Footer **************** */
/* *************************************** */
footer {
  /* Parametre de la boite invisible */
  max-width: 479px;
  height: 197px;
  color: white;
  background-color: #353535;
}
footer h2 {
  /* Parametre du h2 */
  margin-left: 6%;
  margin-top: 4%;
}
footer .link-list {
  /* Parametre de la boite pour les li */
  height: 96px;
  margin-top: 4%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .link-list .link-list--margin-1 {
  /* Parametre de la marge pour le premier li */
  margin-left: 2%;
  display: inline-block;
}
footer .link-list .link-list--margin-2 {
  /* Parametre de la marge pour le second li */
  margin-left: 0.2%;
  display: inline-block;
}
footer .link-list a {
  /* Parametre du lien */
  color: white;
  text-decoration: none;
}

/* *************************************** */
/* **************** Body ***************** */
/* *************************************** */
/* *************************************** */
/* *************** Header **************** */
/* *************************************** */
.menu-a-invisible-box-header {
  /* Parametre de la boite invisible */
  max-width: 479px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-a-invisible-box-header .menu-a-title {
  display: flex;
}
.menu-a-invisible-box-header .menu-a-title a {
  /* Parametre de l'icone return */
  position: relative;
  top: 16px;
  right: 32%;
  color: black;
}

/* *************************************** */
/* **************** Main ***************** */
/* *************************************** */
.menu {
  /* Paramétre du main*/
  max-width: 479px;
  height: 1410px;
  background-color: #f6f6f6;
}

.main__picture {
  /* Parametre de la photo principale*/
  width: 100%;
  height: 219px;
}
.main__picture img {
  width: 100%;
  height: 275px;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}

/* *************************************** */
/* ************* Section 1 *************** */
/* *************************************** */
.menu-a-section-1__invisible-box {
  /* Parametre de la boite invisible */
  height: 80px;
  position: relative;
  z-index: 2;
  border-radius: 35px 35px 0px 0px;
  background-color: #f6f6f6;
}
.menu-a-section-1__invisible-box .restaurant__box {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-a-section-1__invisible-box h2 {
  margin-top: 10%;
  margin-left: 5%;
}
.menu-a-section-1__invisible-box .restaurant__icon {
  height: 29px;
  margin-top: 10%;
  display: flex;
  align-items: center;
}

/* *************************************** */
/* ************* Section 2 *************** */
/* *************************************** */
.menu-a-section-2__invisible-box {
  width: 100%;
  height: auto;
}
.menu-a-section-2__invisible-box h3 {
  font-weight: 300;
  font-size: 14px;
  margin-top: 6%;
  margin-left: 6%;
}
.menu-a-section-2__invisible-box .menu-a-section-2__invisible-box--margin-top {
  margin-top: 10.5%;
}
.menu-a-section-2__invisible-box .menu-b-section-2__invisible-box--margin-top {
  margin-top: 6.5%;
}
.menu-a-section-2__invisible-box .boite_trait {
  width: 9%;
  height: auto;
  margin-top: 1%;
  margin-left: 6%;
  border: 1.8px solid #99e2d0;
}

.card-box--modify-size-menu-b {
  height: 330px !important;
}

.card-box {
  width: 350px;
  height: 235px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.card-box .menu__dishe {
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-box .card__dishe {
  width: 100%;
  height: 69px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 5px #c3c3c4;
}
.card-box .card__dishe > h3 {
  margin-top: 5%;
  margin-left: 3%;
  font-weight: bold;
  font-size: 16px;
}
.card-box .card__dishe > p {
  margin-top: 2%;
  margin-left: 3%;
  font-size: 12px;
}
.card-box .card__dishe .price {
  position: relative;
  font-weight: bold;
  font-size: 16PX;
  left: 80%;
  bottom: 30%;
}

.box-button {
  width: 100%;
  margin-top: 7%;
  display: flex;
  justify-content: center;
}
.box-button button {
  width: 185px;
  height: 47px;
  margin-top: 8.5%;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(176deg, #FF79DA 3%, #9356DC 120%);
  border: none;
  border-radius: 35px;
  box-shadow: 0px 3px 5px #c3c3c4;
  color: white;
}
.box-button button a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
