@mixin card {
    width: 335px;
    height: 250px;

    border-radius: 15px;
    box-shadow: 0px 3px 5px rgb(195, 195, 196);

    a {
        width: 335px;
        height: 250px;

        display: block;

        text-decoration: none;
        color: cadetblue;

        border-radius: 15px;
    }

    &__picture {
        width: 335px;
        height: 173px;
        border-radius: 15px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }
    }

    &__label {
        width: 80px;
        height: 29px;

        position: relative;
        bottom: 95%;
        left: 73%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 12px;
        font-weight: 500;
        color: #008766;

        border-radius: 3px;

        background-color: #99e2d0;
    }

    &__box-info {
        width: 100%;
        height: 77px;

        display: flex;
        justify-content: space-between;

        background-color: white;
        border-radius: 15px;

    }

    &__info-title {
        width: 60%;
        margin-top: 4.8%;
        margin-left: 14px;

        color: black;

        h3 {
            font-weight: 500;
        }

        p {
            font-weight: 300;
            margin-top: 3%;
        }
    }

    &__info-icon {
        width: 20%;

        display: flex;

        i {
            margin-top: 22px;
            margin-left: 26%;

            font-size: 26px;

            .fas.fa-heart {
                color: coral;
                transition: color 5s ease-in-out;

                &:hover {
                    color: coral;
                }
            }

        }

    }
}