// ***************************************
// **************** CARD *****************
// ***************************************


@mixin card {
    width: 335px;
    height: 250px;

    border-radius: $quart;
    box-shadow: 0px 3px 5px rgb(195, 195, 196);

    a {
        width: 335px;
        height: 250px;

        display: block;

        text-decoration: none;

        border-radius: $quart;
    }

    &__picture {
        width: 335px;
        height: 173px;

        border-radius: $quart;

        img {
            width: $full;
            height: $full;

            object-fit: cover;
            border-radius: $quart $quart 0px 0px;
        }
    }

    &__label {
        width: 80px;
        height: 29px;

        position: relative;
        bottom: 95%;
        left: 73%;

        // Flexbox
        @include flex-align-item-center-justify-content-center;

        font-size: 12px;
        font-weight: 500;

        color: $label-color;
        background-color: $label-background-color;

        border-radius: 3px;
    }

    &__box-info {
        width: $full;
        height: 77px;

        display: flex;
        justify-content: space-between;

        background-color: white;

        border-radius: $quart;
    }

    &__info-title {
        width: 60%;
        margin-top: 4.8%;
        margin-left: 14px;

        color: black;

        h3 {
            font-weight: 500;
        }

        p {
            font-weight: 300;
            margin-top: 3%;
        }
    }

    &__info-icon {
        width: 20%;

        display: flex;

        position: relative;
        bottom: 31.5%;
        left: 80%;

        i {
            margin-top: 22px;
            margin-left: 26%;

            font-size: 26px;
        }
    }
}