
/* *************************************** */
/* **************** Body ***************** */
/* *************************************** */


body {
    /* Parametre de la page index.html*/
    max-width: 480px;
    min-width: 100%;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet;

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc;
}


/* *************************************** */
/* **************** Main ***************** */
/* *************************************** */


.index {
    /* Paramétre du main */
    max-width: 480px;
    min-width: 100%;
    height: 1960px;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-height(1911px);

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc-height(1890px);

}


/* *************************************** */
/* ************* Section 1 *************** */
/* *************************************** */


.section-1__invisible-box {
    /* Parametre de la boite invisible */
    max-width: 480px;
    min-width: 100%;
    height: 280px;

    @include flex-direction-column-justify-space-between;
    align-items: center;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-height(215px);

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc-height(235px);

    h2 {
        /* Parametre du h2 */
        max-width: 235px;
        margin-top: 9.5%;

        text-align: center;
        font-weight: 900;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include mobile-landscape-tablet-margin-top(5%);

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include tablet-landscape-pc-margin-top(4%);

    }

    p {
        /* Parametre de p */
        max-width: 300px;
        margin-top: 4.3%;

        text-align: center;
        font-weight: 300;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include mobile-landscape-tablet-margin-top(0%);


        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include tablet-landscape-pc-margin-top(0%);

    }

/*    button {
        /* Parametre du boutton voir btn.scss */
/*        @include button_section1;
    }
*/

.section1__button{
    @include button_section1;
}
    a {
        /* Parametre du lien */
        text-decoration: none;
        color: white;
    }

}


/* *************************************** */
/* ************* Section 2 *************** */
/* *************************************** */


.invisible-box-section-2 {
    /* Parametre de la boite invisible */
    max-width: 480px;
    min-width: 100%;
    height: 358px;
    margin-top: 12.5%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-margin-top-align-items(8%);

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc-margin-top-align-items(3.5%);

    .box-button {
        /* Parametre de la boite pour les bouttons de fonctionnement */
        max-width: 480px;
        height: 310px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            max-width: 959px;
            width: 500px;
        }
    }

    .button {
        /* Parametre du boutton voir btn.scss */
        @include button_operation
    }
}


/* *************************************** */
/* ************* Section 3 *************** */
/* *************************************** */


.invisible-box-section-3 {
    /* Parametre de la boite invisible */
    max-width: 480px;
    min-width: 100%;
    height: 1270px;
    margin-top: 12.5%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: $menu-color;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-height-margin-top-align-items(1301px, 3%);

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc-height-margin-top-align-items(1235px, 3%);

    h2 {
        /* Parametre du h2 */
        margin-top: 15%;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            margin-top: 5%;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            margin-top: 3%;
        }
    }
}

.box-card {
    /* Parametre de la boite pour les cartes */
    max-width: 480px;
    height: 1062px;
    margin: 0 auto;
    margin-top: 6%;

    @include flex-direction-column-justify-space-between;
    align-items: center;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-margin-top(3%);

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc-margin-top(3%);


    .card {
        /* Parametre de carte voir card.scss */
        @include card
    }

    .heart {
        font-size: 50px;
        transition: 0.5s;
    }

    .heart:hover {
        background: linear-gradient($secondary-color, $primary-color);
        background-clip: text;
        color: transparent;
        font-weight: 900;
    }
}