/* *************************************** */
/* *************** Header **************** */
/* *************************************** */


.menu-a-invisible-box-header {
    /* Parametre de la boite invisible */

    @media only screen and (max-width: 479px) {
        max-width: 479px;
        height: 63px;

        display: flex;
        align-items: center;
        justify-content: center;

        .menu-a-title {
            display: flex;

            a {
                /* Parametre de l'icone return */
                position: relative;
                top: 16px;
                right: 32%;
                color: black;
            }

        }

    }
}


/* *************************************** */
/* **************** Main ***************** */
/* *************************************** */

main {
    background-color: #f6f6f6;
}

.main__picture {

    @media only screen and (max-width: 479px) {
        width: 100%;
        height: 219px;

        img {
            width: 100%;
            height: 275px;
            margin: 0 auto;

            position: absolute;
            z-index: 1;

            object-fit: cover;

        }
    }

}


/* *************************************** */
/* ************* Section 1 *************** */
/* *************************************** */


.menu-a-section-1__invisible-box {
    /* Parametre de la boite invisible */

    @media only screen and (max-width: 479px) {
        height: 80px;

        position: relative;
        z-index: 2;

        border-radius: 35px 35px 0px 0px;
        background-color: #f6f6f6;
        ;

        border: 3px solid palegreen;

        .restaurant__box {
            display: flex;
            align-items: center;
        }

        h2 {
            margin-top: 10%;
            margin-left: 5%;
        }

        .restaurant__icon {
            width: 110px;
            height: 29px;
            margin-top: 10%;

            display: flex;
            align-items: center;

            i {
                margin-left: 100%;

            }
        }

    }
}


/* *************************************** */
/* ************* Section 2 *************** */
/* *************************************** */


.menu-a-section-2__invisible-box {

    @media only screen and (max-width: 479px) {
        width: 100%;
        height: auto;

        border: 1px solid red;

        h3 {
            font-weight: 300;
            font-size: 14px;
            margin-top: 6%;
            margin-left: 6%;
        }

        .boite_trait {
            width: 9%;
            height: auto;
            margin-top: 1%;
            margin-left: 6%;
            border: 1.8px solid #99e2d0;
        }

    }
}

.card-box {
    @media only screen and (max-width: 479px) {
        width: 350px;
        height: 235px;
        margin: 0 auto;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;

        .card__disch {
            width: 100%;
            height: 69px;
            margin: 0 auto;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 3px 5px rgb(195, 195, 196);

            >h3 {
                margin-top: 5%;
                margin-left: 3%;
                font-weight: bold;
                font-size: 16px;
            }

            >p {
                margin-top: 2%;
                margin-left: 3%;
                font-size: 12px;
            }

            .price {
                position: relative;
                font-weight: bold;
                font-size: 16PX;
                left: 80%;
                bottom: 30%;
            }

        }

    }
    
}

button {
    @include order__button;
    color: white;
}

