
/* *************************************** */
/* **************** Body ***************** */
/* *************************************** */


.body-size-menu-a {
    /* Parametre de la page pour les menus */

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-height(1580px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc;
}

.body-size-menu-b {
    /* Hauteur de la page pour le menu "La note enchantée" */
    height: 1726px;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include tablet-landscape-pc-height(1720px);
}


/* *************************************** */
/* **************** Main ***************** */
/* *************************************** */


.menu {
    /* Paramétre du main pour les menus*/
    max-width: $mobile;
    height: 1391px;

    background-color: $menu-color;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-height(1320px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc-height(1385px);
}

.menu-b {
    /* Paramétre du main pour le menu "La note enchantée"*/
    height: 1489px;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-height(1459px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc;
}

.main__picture {
    /* Parametre de la boite pour la photo principale*/
    width: $full-width;
    height: 220px;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include tablet {
        display: flex;
        justify-content: center;
    }

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include pc;

    img {
        /* Parametre de la photo principale*/
        width: $full-width;
        height: 275px;
        margin: $margin-center;

        position: absolute;
        z-index: 1;

        object-fit: cover;
    }
}


/* *************************************** */
/* ************* Section 1 *************** */
/* *************************************** */


.menu-a-section-1__invisible-box {
    /* Parametre de la boite invisible */
    height: 80px;

    position: relative;
    z-index: 2;

    border-radius: 35px 35px 0px 0px;
    background-color: $menu-color;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet {
        display: flex;
        justify-content: center;
    }

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include pc {
        display: flex;
        justify-content: center;
    }

    .restaurant__box {
        /* Parametre de la boite pour le nom du restaurant et l'icone coeur*/
        width: 330px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            justify-content: space-around;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            justify-content: space-around;
        }
    }

    h2 {
        margin-top: 10%;
        margin-left: 5%;
    }

    .restaurant__icon {
        height: 29px;
        margin-top: 10%;

        display: flex;
        align-items: center;
    }
}


/* *************************************** */
/* ************* Section 2 *************** */
/* *************************************** */


.menu-a-section-2__invisible-box {
    /* Parametre de la boite invisible */
    width: $full-width;
    height: 1010px;

    background-color: $menu-color;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-height(1120px);

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc-height(1245px);

    &--size-menu-b {
        /* Parametre de la boite invisible pour le menu "La note enchantée" */
        height: 1185px;
        border: 0.1px solid $menu-color;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include mobile-landscape-tablet-height(1158px);

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include tablet-landscape-pc-height(1185px);
    }

    &--margin-top-menu-b {
        /* Margin pour "Entrées" du menu "La note enchantée" */
        margin-top: 3.8% !important;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            margin-top: 3.2% !important;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            margin-top: 3% !important;
        }
    }

    &--margin-top-2-menu-b {
        /* Margin pour "Plats" du menu "La note enchantée" */
        margin-top: 7% !important;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            margin-top: 4.7% !important;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            margin-top: 1% !important;
        }
    }

    &--margin-top-3-menu-b {
        /* Margin pour "Dessert" du menu "La note enchantée" */
        margin-top: 10.6% !important;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            margin-top: 7% !important;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            margin-top: 2.4% !important;
        }

    }

    h3 {
        /* Parametre des titres entrees,plats,dessert */
        margin-top: 4%;
        margin-left: 6%;

        font-weight: 300;
        font-size: 14px;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            margin-top: 3%;
            margin-left: 0%;

            display: flex;
            justify-content: center;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            margin-top: 3%;
            margin-left: 0%;

            display: flex;
            justify-content: center;
        }
    }

    .menu-a-section-2__invisible-box--margin-top {
        /* Margin pour "Plats" des menu */
        margin-top: 12%;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include mobile-landscape-tablet-margin-top(5%);

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include tablet-landscape-pc-margin-top(3%);
    }

    .box_trait {
        /*Parametre de la boite pour le trait qui souligne entree,plats,dessert */
        width: 9%;
        height: auto;
        margin-top: 2%;
        margin-left: 6%;

        border: 1.8px solid $tertiary-color;

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            margin: $margin-center;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            margin: $margin-center;
        }
    }
}

.card-box--modify-size-menu-b {
    /* Parmetre de la boite qui contient les entrees pour le menu "La note enchantée"  */
    width: $full-width;
    height: 330px !important;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include tablet {
        max-width: 959px;
    }

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include pc {
        max-width: 1280px;
    }

}

.card-box {
    /* Parametre de la boite pour menu__dishe */
    width: $full-width;
    height: 233px;
    margin-top: 3%;

    @include flex-direction-column-justify-space-between;
    align-items: center;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-margin-top(1%);

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc-margin-top(2%);

    .menu__dishe {
        /* Parametre des boites qui contient les cartes dans entrees,plats,dessert */
        width: 350px;
        height: 233px;

        @include flex-direction-column-justify-space-between;
    }

    .menu__dishe--modify-size-menu-b {
        /* Parametre des boites qui contient les cartes dans entrees,plats,dessert du menu "La note enchantée" */
        width: 350px;
        height: 314px;

        @include flex-direction-column-justify-space-between;
    }

    .card__dishe {
        /* Parametre de l'interieur des cartes */
        width: $full-width;
        height: 69px;
        margin: $margin-center;

        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 3px 5px rgb(195, 195, 196);

        /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
        @include tablet {
            max-width: $tablet;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
        @include pc {
            max-width: $pc;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        >h3 {
            /* Parametre des titres à l'intérieur des cartes */
            margin-top: 5%;
            margin-left: 3%;

            font-weight: bold;
            font-size: 16px;

            /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
            @include tablet {
                margin-left: 3%;
                display: flex;
                justify-content: flex-start;
            }

            /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
            @include pc {
                margin-left: 3%;
                display: flex;
                justify-content: flex-start;
            }
        }

        >p {
            /* Parametre du texte à l'intérieur des cartes */
            margin-top: 2%;
            margin-left: 3%;

            font-size: 12px;
        }

        .price {
            /* Parametre des prix à l'intérieur des cartes */
            position: relative;
            font-weight: bold;
            font-size: 16px;
            left: 80%;
            bottom: 35%;

            /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
            @include tablet {
                max-width: $tablet;
                left: 85%;
                bottom: 55%;
            }
        }
    }
}

.box-button-menu-b {
    /* Parametre de la boite du bouton du menu "La note enchantée" */
    margin-top: 11% !important;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet {
        margin-top: 28px !important;
    }

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc {
        margin-top: 0.6% !important;
    }
}

.box-button {
    /* Parametre de la boite du bouton des menu */
    width: $full-width;
    margin-top: 11%;

    display: flex;
    justify-content: center;

    /* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
    @include mobile-landscape-tablet-margin-top(27px);

    /* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
    @include tablet-landscape-pc-margin-top(0.5%);

    .order__button {
        /* Parametre du bouton voir dans btn.scss*/
        @include order__button;
        text-decoration: none;
        color: white;
    }
}