
/* *************************************** */
/* ************ Media queries ************ */
/* *************************************** */


$breakpoints: (
    mobile: $mobile,
    tablet: $tablet,
    pc:     $pc
    )