/* *************************************** */
/* ************ Media queries ************ */
/* *************************************** */


/* Mixin pour media queries: */

/* Sans contenu:
Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
@mixin tablet {
    @media only screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

/* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
@mixin pc {
    @media only screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, pc)) {
        @content;
    }
}

/* Largeur:
    Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
@mixin mobile-landscape-tablet {
    @media only screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        max-width: map-get($breakpoints, tablet);
        min-width: 100%;
        @content;
    }
}

/* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
@mixin tablet-landscape-pc {
    @media only screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, pc)) {
        max-width: map-get($breakpoints, pc);
        min-width: 100%;
        @content;
    }
}


/* Avec hauteur:
    Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
@mixin mobile-landscape-tablet-height($height) {
    @media only screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        max-width: map-get($breakpoints, tablet);
        min-width: 100%;
        height: $height;
        @content;
    }
}

/* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
@mixin tablet-landscape-pc-height($height) {
    @media only screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, pc)) {
        max-width: map-get($breakpoints, pc);
        min-width: 100%;
        height: $height;
        @content;
    }
}

/* Avec margin-top:
Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
@mixin mobile-landscape-tablet-margin-top($margin-top) {
    @media only screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        max-width: map-get($breakpoints, tablet);
        min-width: 100%;
        margin-top: $margin-top;
    }
}

/* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
@mixin tablet-landscape-pc-margin-top($margin-top) {
    @media only screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, pc)) {
        max-width: map-get($breakpoints, pc);
        min-width: 100%;
        margin-top: $margin-top;
    }
}

/* Avec margin-top et align-items:center; :
Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
@mixin mobile-landscape-tablet-margin-top-align-items($margin-top) {
    @media only screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        max-width: map-get($breakpoints, tablet);
        min-width: 100%;
        margin-top: $margin-top;

        align-items: center;
    }
}

/* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
@mixin tablet-landscape-pc-margin-top-align-items($margin-top) {
    @media only screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, pc)) {
        max-width: map-get($breakpoints, pc);
        min-width: 100%;
        margin-top: $margin-top;

        align-items: center;
    }
}

/* Avec margin-top et align-items:center; et hauteur :
Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
@mixin mobile-landscape-tablet-height-margin-top-align-items($height, $margin-top) {
    @media only screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        max-width: map-get($breakpoints, tablet);
        min-width: 100%;
        height: $height;
        margin-top: $margin-top;

        align-items: center;
    }
}

/* Pour écrans entre 959px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
@mixin tablet-landscape-pc-height-margin-top-align-items($height, $margin-top) {
    @media only screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, pc)) {
        max-width: map-get($breakpoints, pc);
        min-width: 100%;
        height: $height;
        margin-top: $margin-top;

        align-items: center;
    }
}


/* *************************************** */
/* ************** Flexbox **************** */
/* *************************************** */


/* Mixin flexbox: */
/*Display, align-item et justify content: center; */
@mixin flex-align-item-justify-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Display, flex-direction:column et justify content: center; */
@mixin flex-direction-column-justify-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin gradient-heart {
    background-color: linear-gradient(45deg, $secondary-color 100%, $primary-color 100%);
}

/*@mixin card-box-size ($restaurant, $restaurant-name: $restaurant-name)
{
    @if ($restaurant!= $restaurant-name)
    {
        .card-box {
        height: 235px;
        }
    }

    @else
    {
        .card-box {
        height: 350px;
        }
    }
}
*/