// ***************************************
// **************** Color ****************
// ***************************************

$primary-color:             #9356dc;
$secondary-color:           #ff79da;
$tertiary-color:            #99e2d0;

$menu-color:                #f6f6f6;
$footer-color:              #353535;

$label-color:               #008766;
$label-background-color:    #99e2d0;

// ***************************************
// ***************** Size ****************
// ***************************************

$mobile:                    480px;
$mobile-landscape-tablet:   768px;
$tablet-landscape:          1024px;
$pc:                        1600px;
$pc-xl:                     1600px;

// ***************************************
// **************** Number ***************
// ***************************************

$quart:                     15px;
$full:                      100%;

// ***************************************
// **************** Margin ***************
// ***************************************

$margin-center:             0 auto;