/* *************************************** */
/* **************** Color **************** */
/* *************************************** */


$primary-color:     #9356DC;
$secondary-color:   #FF79DA;
$tertiary-color:    #99E2D0;
$footer-color:      #353535;
$menu-color:        #f6f6f6;


/* *************************************** */
/* ***************** Size **************** */
/* *************************************** */

$mobile:        480px;
$tablet:        959px;
$pc:            1280px;
$full-width:    100%;

/* *************************************** */
/* **************** Margin *************** */
/* *************************************** */

$margin-center: 0 auto;


/*$restaurant-name: ("La note enchantée");*/